.game-over {
     text-align: center;
     border: none;
     margin-top: 10px;
     padding: 10px;
     font-size: 1.5em;
     font-family: "Kanit", sans-serif;
     font-weight: 400;
     font-style: normal;
     text-decoration: none;
     text-transform: uppercase;
     letter-spacing: 2px;
     color: #F3F3F3;
}