.reset-wrapper {
     position: relative;
     width: 300px;
     display: flex;
     justify-content: center;
     margin: 0 auto;
 }

.reset-button {
     display: inline-block;
     position: relative;
     margin: 20px 0px;
     padding: 12px 0px;
     width: 80%;
     color: #F3F3F3;
     font-family: "Kanit", sans-serif;
     font-weight: 300;
     font-style: normal;
     font-size: 1.3em;
     text-decoration: none;
     border: 1px solid #F3F3F3;
     border-radius: 20px;
     background-color: #901328;
     cursor: pointer;
}